.wrapper{
    user-select: none;
    margin: 1%;
    width: 16%;
    height: 20%;
}

.filmimg{
    border-radius: 20px;
   
}

.filmname{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.caption{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
